= form_for [:admin, @ticket], :class => "ticket_form" do |f|
  - if @ticket.errors.any?
    #error_explanation
      %h2
        = pluralize(@ticket.errors.count, "error")
        prohibited this ticket form from being saved:
      %ul
        - @ticket.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :name
    = f.text_field :name
    %br/
  %p
    = f.label :email
    = f.text_field :email
    %br/
  %p
    = f.label :department
    = f.text_field :department
    %br/

  %p
    = f.label :subject
    = f.text_field :subject
    %br/
  %p
    = f.label :issue
    = f.text_area :issue
    %br/
  %p
    = f.label :reply_subject
    %br/
    = f.text_field :reply_subject
    %br/
  %p
    = f.label :reply_message
    %br/
    = f.text_area :reply_subject
    %br/
  = f.submit