%table#tickets_table
  %thead
    %td
    %td Name
    %td Email
    %td Department
    %td Subject
    %td Owner
    %td Action
  %tbody
    - @tickets.each do |ticket|
      %tr
        %td= ticket.reference
        %td= ticket.name
        %td= ticket.email
        %td= ticket.department
        %td= ticket.subject
        - if(ticket.user)
          %td= ticket.user
        - else
          %td Unassigned
        - unless ticket.status == 'Completed'
          %td= link_to 'Reply', edit_admin_ticket_path(ticket)
        -else
          %td= link_to 'Reopen', edit_admin_ticket_path(ticket)