%table#tickets_table
  %thead
    %td Name
    %td Email
    %td Department
    %td Subject
    %td Owner
    %td Action
  %tbody
    - @tickets.each do |ticket|
      %tr
        %td= ticket.name
        %td= ticket.email
        %td= ticket.department
        %td= ticket.subject
        - if( ticket.status != 'Waiting for Staff Response' || !ticket.user)
          %td= ticket.user
        - else
          %td Unassigned
        %td= link_to 'Reply', edit_admin_ticket_path(ticket)