.container
  %p
    = label_tag 'name'
    = @ticket.name
    %br/

  %p
    = label_tag 'email'
    = @ticket.email
    %br/

  %p
    = label_tag 'department'
    = @ticket.department
  %p
    = label_tag 'reference'
    = @ticket.reference
  - if @ticket.user
    %p
      = label_tag 'Assignee'
      = @ticket.user.username

  %p
    = label_tag 'subject'
    = @ticket.subject

  %p
    = label_tag 'issue'
    %br/
    = @ticket.issue

  %p
    = label_tag 'status'
    = @ticket.status

  %p
    = label_tag 'Your reply subject'
    = @event.reply_subject
  %p
    = label_tag 'Your reply message'
    = @event.reply_message