!!!
%html
  %head
    %title OnApp Support Issue Tracker
    = stylesheet_link_tag    'admin/application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      .title
        %h1 Support Issue Tracker
      %nav#main-nav
        %ul
          %li
            - if user_signed_in?
              = link_to('logout', destroy_user_session_path, method: :delete)
            - else
              = link_to('login', new_user_session_path)
          %li
            = link_to 'New unassigned tickets',admin_new_unassigned_tickets_path
          %li
            = link_to 'Open Tickets', admin_open_tickets_path
          %li
            = link_to 'On hold tickets', admin_on_hold_tickets_path
          %li
            = link_to 'Closed Tickets', admin_closed_tickets_path
          - if current_user.role == 'admin'
            %li
              = link_to 'Add/Remove Statuses', admin_statuses_path
    #container.clearfix
      - flash.each do |key, value|
        .flash{:id => key}
          = value
      = yield
