!!!
%html
  %head
    %title OnApp Support Issue Tracker
    = javascript_include_tag 'application'
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", :rel => "stylesheet"}/

    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"}
    = stylesheet_link_tag 'admin/application', media: 'all'
    = csrf_meta_tags
  %body
    %header
      = render :partial => 'layouts/navbar'
    #container.admin
      - flash.each do |key, value|
        .flash{:id => key}
          = value
      = yield
